/* Landing and InfoScreen styles */
    .logoLinkLanding, .logoLinkInfo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
    }
    .logoLanding, .logoInfo {
        width: 30%;
        margin: auto;
        transition: transform 0.2s ease-in-out;
    }
    .logoLanding:hover, .logoInfo:hover {
        transform: scale(1.05);
    }
    .buttonsLanding, .buttonsInfo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonsLanding {
        flex-direction: row;
    }
    .buttonsInfo {
        flex-direction: column;
    }
    .buttonLanding, .buttonInfo {
        display: flex;
        justify-content: center;
    }
    .buttonInfo {
        align-items: center;
    }
    .buttonLanding img, .buttonInfo img {
        width: 80%;
        border: transparent solid 6px;
        border-radius: 50%;
        cursor: pointer;
    }
    .buttonLanding img:hover, .buttonInfo img:hover {
        border: rgba(255, 255, 255, 0.8) solid 6px;
    }
